/* whole doc */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* root */
:root {
    --bg-color: rgb(133, 122, 122);
    --second-bg-color: rgb(97, 97, 84);
    --text-color: rgb(199, 186, 186);
    --second-color: rgb(251, 209, 209);
    --main-color: rgb(239, 24, 217);
    --h2-font: 30px; 
    --p-font: 10px; 
    --h4-font: 15px;
}

/* body */
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 20px 15%;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
}

/* branding */
.branding {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 50px;
}

span {
    color: var(--main-color);
}

/* nav-list  */
.navlist ul li {
    display: inline;
}
.navlist a {
    color: var(--second-color);
    font-size: 15px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .55s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

#githublink {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.nav-bar {
    display: flex;
}

/* hero section */
section {
    padding: 5% 10% 4%;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../photos/my-hero.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
}

.first {
    display: inline-block;
    margin-right: 50px;
    padding: 0 100px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}

.second {
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}

.hero-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 2;
    margin: 0 0 8px;
}

.hero-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
}

.hero-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 40px;
    line-height: 2px;
}

/* about me button-------Note still within the hero section*/
.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.55s ease;
}

.btn:hover {
    transform: scale(0.9);
}

/* about */
.about {
    background-color: var(--second-big-color);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2px;
}

#pic {
    max-width: 70vw;
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.statement {
    padding: 20px;
}

.statement h2 {
    line-height: 1;
    font-size: var(--h2-font);
}

.statement p {
    margin-bottom: 4rem;
    font-size: var(--p-font);
    line-height: 1.8;
    color: var(--second-color);
}

.statement h4 {
    font-size: var(--h4-font);
    font-weight: 600;
    margin: 15px 0 30px;
    line-height: 2;
}

/* education */
.education {
    background: var(--bg-color);
}

.main-text{
    text-align: center;
}
.main-text{
    color: var(--second-color);
    margin-bottom: 10px;
    font-size: 15px;
}
.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}
.edu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}
.box {
    background-color: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

/* icons */
.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--h4-font);
    margin-bottom: 15px;
}

.box ul li {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 20px;
}

.box:hover {
    cursor: pointer;
    transform: translateY(-8px);
}

/* experience */
.experience {
    background: var(--bg-color);
}

.main-exp {
    text-align: center;
}

/* .main-exp {
    color: var(--second-color);
    margin-bottom: 10px;
    font-size: 15px;
} */

/* .main-exp h2 {
    font-size: var(--h2-font);
    line-height: 1;
} */

.exp-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}

/* skills */
/* .main-ski {
    text-align: center;
} */

.ski-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "#social #technical #mental"
        "#languages #languages #languages";
    gap: 2rem;
    margin-top: 3rem;
    
}
#social {
    grid-area: "#social";
}
#technical {
    grid-area: "#technical";
}
#mental {
    grid-area: "#mental";
}
#languages {
    grid-area: "#languages";
    grid-column: 1 / 4;
}
.ski-content-container h3 {
    text-align: center;
}
.lingos-list ul li{
    display: inline;
    padding: 12px;
}

/* portfolio */
.port-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.row {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.row img {
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    opacity: 75%;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h3 {
    font: var(--h3-font);
    font-weight: 600;
    line-height: 2;
}
.layer p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.5;
}
.layer i{
    color: var(--main-color);
    background: var(--text-color);
    max-width: 60px;
    max-height: 60px;
    margin-top: max(20px);
    font-size: max(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: max(50px);
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

/* contacts */
.contacts{
    background: var(--second-bg-color);
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 2rem;
}
.contact-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.contact-text h4{
    margin: max(18px 0);
    color: var(--text-color);
    font-size: var(--h4-font);
    font-weight: 600;
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
}
.list{
    margin: max(3rem);
}
.list ul li{
    margin-bottom: max(10px);
}
.list ul li a{
    display: block;
    color: var(--second-color);
    font-size: max(14px);
    transition: all 0.5s ease;
}
.list ul li a:hover{
    color: var(--text-color);
    transform: translateY(5px);
}
.contact-icon i{
    /* background: var(--main-color);  --to remove */
    color: var(--text-color);
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.contact-icon i:hover{
    /* background: var(--text-color);  --to remove */
    color: var(--main-color);
}
/* form as part of contacts */
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    background: blue;
    color: var(--text-color);
    width: 70%;
    padding: minmax(2px 15px);
    margin-bottom: 2px;
    /* font-size: minmax(10px 15px); */
    /* border: none; */
    /* outline: none; */
}

/* responsive ness */
/* tablets */
@media (max-width: 1024) {
 .ski-content-container {
    /* display: grid; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "#social" 
        "#technical" 
        "#mental"
        "#languages";
    gap: 2rem;
    margin-top: 3rem;
}
#social {
    grid-area: "#social";
}
#technical {
    grid-area: "#technical";
}
#mental {
    grid-area: "#mental";
}
#languages {
    grid-area: "#languages";
}
}